//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';

html{
  @include font;
  background-color: $background-color-3;
}

body{
  margin: 0;
  padding: 0;
  @include flex(center, center, column);
}

html, body{ height: 100%;}

p{font:$p;}
h1{font:$h1;}
h2{font:$h2;}
h3{font:$h3;}
h4{font:$h4;}


.header{
  @include size(60px, 100%);
  background-color: $background-color-1;
  position: fixed;
  top:0;
  z-index: 3;
}

.container{
  @include size(auto, 960px);
  @include flex( center, center, column);
  padding: 60px 0;
  margin-top: 60px;
}

.deck{
  @include flex(center, center, row);
  @include size(auto, 100%);
  flex-shrink: 0;
}

.details{
  @include size(auto, 960px);
  opacity: 0;
  padding: 40px 10px;

  @include transition(opacity);
}

.visible{
  @include size(auto, 960px);
  opacity: 1;
  @include transition(opacity);
}

.card{
  width: 400px;
  @include transition(box-shadow);
  border-radius: 4px;
  margin: 0 10px;
  &:hover{ @include shadow();
  background-color: white;
  }
