//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';

html{
  @include font;
  background-color: $background-color-3;
}

body{
  margin: 0;
  padding: 0;
  @include flex(center, center, column);
}

html, body{
  height: 100%;
}

p{font:$p;}
h1{font:$h1;}
h2{font:$h2;}
h3{font:$h3;}
h4{font:$h4;}


.header{
  @include size(60px, 100%);
  background-color: $background-color-1;
  position: fixed;
  top:0;
}

.container{
  @include size(100%, 960px);
  @include flex( center, center, column);
}

.deck{
  @include flex(center, center, row);
  @include size(auto, 100%);
}

.details{
  @include size(auto, 960px);
  opacity: 0;
  @include transition(opacity);
}

.visible{
  @include size(auto, 960px);
  opacity: 1;
  @include transition(opacity);
}

.card{
  @include size(250px, 400px);
  @include transition(box-shadow);
  border-radius: 4px;
  margin: 0 10px;

  &:hover{ @include shadow(); }

  .card-header{
    @include size(auto, 100%);
    @include flex(flex-start, center, column);
    border-radius: 4px 4px 0 0;
    background-color: $border-color-2;
    background-color: $white;
    // border-bottom: 1px solid $border-color-3;
    padding: 30px 30px 0 30px;

    h1{
      margin: 0;
      margin-bottom: 10px;
    }
    p{
      margin-top: 10px;
      margin-bottom: 0;
      font:$p-alt;
      color:$font-color-2;
    }
  }

  .card-body{
    padding: 10px 30px;
    @include size(100%, 100%);
    height: calc(100% - 80px);
    background-color: white;
  }

  .card-footer{
    padding: 30px 30px;
    @include size(auto, 100%);
    border-radius: 0 0 4px 4px;
    background-color: $white;
    border-top: 1px solid $border-color-3;

    p{
      margin-top: 6px;
      font:$p-alt;
      color:$font-color-2;
    }

    h2{
      margin-top: 0;
    }
  }

}


//button



.primary{
  @include primary;
  width: 100%;
}

.table-wrapper{
  margin: 10px;
  margin-top: 180px;
  position:relative;
  @include size(auto, calc(100% - 20px));
  background-color: $white;
  border-radius: 4px;
}

table{
  width: 100%;
  margin: 0;
  padding: 0;
   border-collapse: collapse;
}

th, td{
  height: 40px;
  border-bottom: 1px solid $border-color-3;
  margin: 0;
  padding: 0;
  text-align: left;
  padding: 15px;
  box-sizing: border-box;
}

tr{
  margin: 0;
  padding: 0;

  &:last-child{
   td{border-bottom: 1px solid transparent;}
  }
}

th{
  font:$p-alt;
  color:$font-color-2;
  font-size: 12px;
  font-weight: 500;
  &:not(:last-child){
    border-right: 1px solid $border-color-3;
  }


}

.action{
  color:$blue-1;
}

.right{
  text-align: right;
}

td{
  &:first-child{
    width: 700px;
  }

  input{
    margin-right: 10px;
  }
}
